<h1>Events</h1>

<div>
  <div>
    <% @events.each do |event| %>
      <ul>
        <li><%= event.title %></li>
        <li><%= event.location %></li>
        <li><%= event.date %></li>
      </ul>
      <br>
    <% end %>
  </div>
</div>

<%= link_to 'Back', events_path %>